name: Unit Tests
on: [push]
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v1

      - name: Install Powershell
        run: |
            sudo apt-get update
            sudo apt-get install -y wget apt-transport-https software-properties-common
            wget -q https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
            sudo dpkg -i packages-microsoft-prod.deb
            sudo apt-get update
            sudo add-apt-repository -y universe
            sudo apt-get install -y powershell
    
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.16'

      - name: Run tests
        shell: pwsh
        env:
          GO111MODULE: on
        run: |
            ./tools.ps1 install
            ./tools.ps1 test
